$TTL 900

@   IN  SOA {{ hostvars['ns1'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.    hostmaster.{{ cluster_name }}.{{ dns_domain_name }}. (
        2019062001  ; serial number
        3H          ; refresh interval (3 hours)
        30M         ; retry interval (30 minutes)
        1W          ; expiry period (2 weeks)
        3h )        ; negative TTL (1 week)

                                       IN  NS  {{ hostvars['ns1'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['ns1'].host_octet }}       IN  PTR {{ hostvars['ns1'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['dhcp'].host_octet }}      IN  PTR {{ hostvars['dhcp'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['pxe'].host_octet }}       IN  PTR {{ hostvars['pxe'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['bastion'].host_octet }}   IN  PTR {{ hostvars['bastion'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['jenkins'].host_octet }}   IN  PTR {{ hostvars['jenkins'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['s3'].host_octet }}        IN  PTR {{ hostvars['s3'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['vault'].host_octet }}     IN  PTR {{ hostvars['vault'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['master-0'].host_octet }}  IN  PTR {{ hostvars['master-0'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['master-1'].host_octet }}  IN  PTR {{ hostvars['master-1'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['master-2'].host_octet }}  IN  PTR {{ hostvars['master-2'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['infnod-0'].host_octet }}  IN  PTR {{ hostvars['infnod-0'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['infnod-1'].host_octet }}  IN  PTR {{ hostvars['infnod-1'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['cptnod-0'].host_octet }}  IN  PTR {{ hostvars['cptnod-0'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['cptnod-1'].host_octet }}  IN  PTR {{ hostvars['cptnod-1'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['cptnod-2'].host_octet }}  IN  PTR {{ hostvars['cptnod-2'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['bastion'].host_octet }}   IN  PTR apps.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['bastion'].host_octet }}   IN  PTR api.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['bastion'].host_octet }}   IN  PTR api-int.{{ cluster_name }}.{{ dns_domain_name }}.
;EOF
