$TTL 900

@   IN  SOA bastion.{{ cluster_name }}.{{ dns_domain_name }}.    hostmaster.{{ cluster_name }}.{{ dns_domain_name }}. (
        2019062001  ; serial number
        3H          ; refresh interval (3 hours)
        30M         ; retry interval (30 minutes)
        1W          ; expiry period (2 weeks)
        3h )        ; negative TTL (1 week)

    IN  NS  bastion.{{ cluster_name }}.{{ dns_domain_name }}.
254 IN  PTR bastion.{{ cluster_name }}.{{ dns_domain_name }}.
254 IN  PTR api.{{ cluster_name }}.{{ dns_domain_name }}.
254 IN  PTR api-int.{{ cluster_name }}.{{ dns_domain_name }}.
254 IN  PTR apps.{{ cluster_name }}.{{ dns_domain_name }}.
10  IN  PTR master-0.{{ cluster_name }}.{{ dns_domain_name }}.
11  IN  PTR master-1.{{ cluster_name }}.{{ dns_domain_name }}.
12  IN  PTR master-2.{{ cluster_name }}.{{ dns_domain_name }}.
20  IN  PTR infnod-0.{{ cluster_name }}.{{ dns_domain_name }}.
21  IN  PTR infnod-1.{{ cluster_name }}.{{ dns_domain_name }}.
30  IN  PTR cptnod-0.{{ cluster_name }}.{{ dns_domain_name }}.
31  IN  PTR cptnod-1.{{ cluster_name }}.{{ dns_domain_name }}.
32  IN  PTR cptnod-2.{{ cluster_name }}.{{ dns_domain_name }}.
;EOF
