$TTL 900

@           IN  SOA {{ hostvars['ns1'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.    hostmaster.{{ cluster_name }}.{{ dns_domain_name }}. (
            2019062002      ; serial number
            3H              ; refresh interval (3 hours)
            30M             ; retry interval (30 minutes)
            1W              ; expiry period (1 week)
            3H )            ; negative TTL (3 hours)

            IN  NS  {{ hostvars['ns1'].hostname }}.{{ cluster_name }}.{{ dns_domain_name }}.
{{ hostvars['ns1'].hostname }}         IN  A   {{ cluster_network }}.{{ hostvars['ns1'].host_octet }}
{{ hostvars['dhcp'].hostname }}        IN  A   {{ cluster_network }}.{{ hostvars['dhcp'].host_octet }}
{{ hostvars['pxe'].hostname }}         IN  A   {{ cluster_network }}.{{ hostvars['pxe'].host_octet }}
{{ hostvars['bastion'].hostname }}     IN  A   {{ cluster_network }}.{{ hostvars['bastion'].host_octet }}
{{ hostvars['jenkins'].hostname }}     IN  A   {{ cluster_network }}.{{ hostvars['jenkins'].host_octet }}
{{ hostvars['s3'].hostname }}          IN  A   {{ cluster_network }}.{{ hostvars['s3'].host_octet }}
{{ hostvars['bootstrap'].hostname }}   IN  A   {{ cluster_network }}.{{ hostvars['bootstrap'].host_octet }}
{{ hostvars['master-0'].hostname }}    IN  A   {{ cluster_network }}.{{ hostvars['master-0'].host_octet }}
{{ hostvars['master-1'].hostname }}    IN  A   {{ cluster_network }}.{{ hostvars['master-1'].host_octet }}
{{ hostvars['master-2'].hostname }}    IN  A   {{ cluster_network }}.{{ hostvars['master-2'].host_octet }}
{{ hostvars['infnod-0'].hostname }}    IN  A   {{ cluster_network }}.{{ hostvars['infnod-0'].host_octet }}
{{ hostvars['infnod-1'].hostname }}    IN  A   {{ cluster_network }}.{{ hostvars['infnod-1'].host_octet }}
{{ hostvars['cptnod-0'].hostname }}    IN  A   {{ cluster_network }}.{{ hostvars['cptnod-0'].host_octet }}
{{ hostvars['cptnod-1'].hostname }}    IN  A   {{ cluster_network }}.{{ hostvars['cptnod-1'].host_octet }}
{{ hostvars['cptnod-2'].hostname }}    IN  A   {{ cluster_network }}.{{ hostvars['cptnod-2'].host_octet }}
api         IN  A   {{ cluster_network }}.{{ hostvars['bastion'].host_octet }}
api-int     IN  A   {{ cluster_network }}.{{ hostvars['bastion'].host_octet }}
apps        IN  A   {{ cluster_network }}.{{ hostvars['bastion'].host_octet }}
*.apps      IN  A   {{ cluster_network }}.{{ hostvars['bastion'].host_octet }}
etcd-0      IN  A   {{ cluster_network }}.{{ hostvars['master-0'].host_octet }}
etcd-1      IN  A   {{ cluster_network }}.{{ hostvars['master-1'].host_octet }}
etcd-2      IN  A   {{ cluster_network }}.{{ hostvars['master-2'].host_octet }}
_etcd-server-ssl._tcp   IN  SRV 0   10  2380    etcd-0.{{ cluster_name }}.{{ dns_domain_name }}.
                        IN  SRV 0   10  2380    etcd-1.{{ cluster_name }}.{{ dns_domain_name }}.
                        IN  SRV 0   10  2380    etcd-2.{{ cluster_name }}.{{ dns_domain_name }}.
;EOF
